html {
    background-color:#eaeaea
}
body {
    margin: 40px auto;
    max-width:800px;line-height:1.6;font-size:18px;color:#555;padding:010px
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    margin-right: 20px;
}
a,a:visited
{
    color:#2980b9
}
a:hover {
    text-decoration: underline;
}
h1,h2,h3,h4,h5
{
    line-height:1.2;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.resize{
    max-width:100px;
    height: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
