<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
        </body>
        <footer>
        	<p>Random paraphrase to check the footer: "Imagine the best XXX you aspire to be. Then open your eyes and become one" :-).</p>
		</footer>
    </html>